

.baseLayout{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #050514 ; /* fallback for old browsers */
    background: linear-gradient(to right, #200122, #6f0000); 

    background: linear-gradient(to top, #000000 , #26183a, #000000 );
 
//background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 


    h2{
        font-size:3rem;
        color: #ffffff;
    }
}