.listItem{
  display: flex;
    padding: 0;
    margin: 0;
    position:absolute;
    z-index: 4000;
    background-color:#050514;
 
    left:0;
    width: 100%;

    overflow:auto;

    .projectlistItem{
        margin-top:2rem;
    }

}