.listItem{
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  
    padding: 0;
    margin: 0;
    position:absolute;
    z-index: 4000;
    background-color:#050514;
 
    left:0;
    width: 100%;

    overflow:hidden;
    white-space: nowrap;
    overflow-x: scroll;


    .projectlistItem{
        margin-top:2rem;
        display: flex;
        flex-direction: row;
    }
    

}
img{
    width:4rem
}