.primary{
    background-color: #ff7800;
    color: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
}

.secondary{
    background-color: #01b4e9;
    color: #050514;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}

.themeChange {
    background-color: transparent;
    outline: none;
    border: none;
}