
  p{
      font-size: 1rem;
      line-height: 1.6;;
  }


[data-theme="light"]{
    --text-color: black;
    --background-color: white;
  }
  
  [data-theme="dark"]{
    --text-color: #fcfcfc;
    --background-color: #1d1c1c;
  }
  
  .App{
    color: var(--text-color);
    background-color: var(--background-color);
  }
