.header{

  
    margin: 0 auto;
    a{
        text-decoration: none;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            list-style: none;
            padding: 0.5rem;
        }
    }

    &__search{
        // flex: 1;
        padding: 1.25rem;
        width:80rem;
        max-width: 100%;
        margin:0 auto;
        display:flex;

    }
}